input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e7e7e7;
}
