.button {
  font: inherit;
  border: 1px solid #05baf1;
  background: #05baf1;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #53c6e9;
  border-color: #53c6e9;
}

.button:focus {
  outline: none;
}
